

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #000000;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Хедер */
.header-bar-wrapper {
  width: 100%;
  background-color: #293449;
}

.header-bar {
  display: flex;
  width: 940px;
  height: 42px;
  margin: 0 auto;
  text-align: center;
  /* outline: 3px dotted blue; */
}


.header-intro-wrapper {
  width: 100%;
  background-color: #f1f5f7;
  padding-top: 46px;
  padding-bottom: 60px;
  /* outline: 3px dotted blue; */
}

.header-intro {
  display: flex;
  align-items: baseline;
  width: 940px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 3px dotted green; */
}

.header-intro .description {
  flex-basis: 200px;
  margin-top: 0;
  padding-left: 50px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.header-intro .contacts {
  padding-left: 70px;
}

.header-intro .contacts .phone {
  border: 3px solid #ffffff;
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0;
  margin-bottom: 10px;
}

.header-intro .contacts .address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin-top: 0;
  margin-bottom: 0;
}


.header-nav-links {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  /* outline: 3px dotted green; */
}

.nav-main {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav-main li {
  flex-grow: 1;
}

/* Навигация по сайту - состояния ссылок */

.nav-main a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: rgb(255,255,255);
}

.nav-main a:hover,
.nav-main a:focus {
  background-color: #293449;
}

.nav-main a:active {
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}
/* Логотип */
.logo {
  /* width: 220px; */
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);

}

.logo-header {
  font-size: 24px;
  line-height: 24px;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: -5px;


}

.logo-footer {
  font-size: 30px;
  line-height: 30px;
  padding-top: 21px;
  padding-bottom: 26px;
  padding-left: 42px;
  padding-right: 42px;
}

a.logo:hover,
a.logo:focus {
  background-color: #ca2c37;
}

a.logo:active {
  background-color: #ba2732;
}


/* Форма поиска */
.header-bar .search {
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-bar .search:hover,
.header-bar .search:focus {
  background-color: #212a3a;
}

.header-bar .search:active {
  background-color: #293449;
}

.header-bar input {
  font-family: inherit;
  /* color: #000000; */
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;
  border: none;
}

.header-bar input:hover,
.header-bar input:focus {
  background-color: transparent;
}

.header-bar input:active {
  background-color: #ffffff;
}



/* Закладки и Корзина */
.header-bar .bookmarks {
  padding-left: 44px;
  padding-right: 28px;
  margin-left: auto;
}

.header-bar .cart {
  padding-left: 49px;
  padding-right: 31px;
}

.header-bar .bookmarks,
.header-bar .cart {
  color: #ffffff;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;

}

.header-bar .bookmarks:hover,
.header-bar .bookmarks:focus,
.header-bar .cart.empty:hover,
.header-bar .cart.empty:focus {
   background-color: #212a3a;
}

.header-bar .bookmarks:active,
.header-bar .cart.empty:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
}

.header-bar .cart.not-empty {
  background-color: #ee3643;
}

/* Кнопка Оформить заказ */
.header-bar a.order-submit {
  color: #ffffff;
  background-color: #63a63e;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 22px;
}

.header-bar a.order-submit:hover,
.header-bar a.order-submit:focus {
  background-color: #5fbb2d;
}

.header-bar a.order-submit:active {
  background-color: #518534;
  color: rgba(255,255,255,0.51);
}


/* Навигация пользователя */
.nav-user {
  margin-left: auto;
}

.user-non-authorized,
.user-authorized {
  display: flex;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

/* Навигация неавторизованного пользователя */
.user-non-authorized li {
  height: 45px;
}

.user-non-authorized li:not(:last-child) {
  margin-right: 10px;
}

.user-non-authorized a {
  display: block;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.user-non-authorized a:hover,
.user-non-authorized a:focus {
  color: #ee3643;
}

.user-non-authorized a:active {
  color: rgba(0,0,0,0.3);
}

.user-login {
  padding-left: 47px;
  padding-right: 26px;
}

.user-signup {
  padding-left: 24px;
  padding-right: 24px;
}





/* Навигация авторизованного пользователя */
.authorized-main {
  margin-bottom: 10px;
}

.authorized-main li {
  height: 45px;
}

.authorized-main li:not(:last-child) {
  margin-right: 10px;
}

.authorized-main a:link,
.authorized-main a:visited {
  display: block;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.authorized-main a:hover,
.authorized-main a:focus {
}

.authorized-main a:active {
  color: rgba(0,0,0,0.3);
}

.authorized-secondary a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  border-bottom: 1px solid #32425c;
  margin-top: 0;
  margin-bottom: 0;
}


.authorized-secondary a:hover,
.authorized-secondary a:focus {
  color: #ee3643;
  border-bottom: 1px solid #ee3643;
}

.authorized-secondary a:active {
  color: rgba(50,66,92,0.3);
  border-bottom: 1px solid rgba(50,66,92,0.3);
}



/* Промо */
.promo-item {
  display: inline-block;
  width: 300px;
  height: 123px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.promo-item.material {
  background-color: #ffbf47;
}

.promo-item.instrument {
  background-color: #3bbce3;
}

.promo-item.equipment {
  background-color: #dc91d8;
}

.promo-item.discount {
  background-color: #8ed78f;
}

.promo-item.delivery {
  background-color: #ffc047;
}

.promo-item .note {
  color: #ffffff;
  background-color: #e5e5e5;
  font-size: 14px;
  line-height: 18px;
}

.promo-item .note:hover,
.promo-item .note:focus {
  background-color: #cccccc;
}
.promo-item .note:active {
  background-color: #b2b2b2;
}

/* Промо - слайдер */
.slide-list {
  list-style: none;
}

.slide-item .name,
.slide-item .note {
  /* color: #ffffff; */
}

.slide-item .name {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slide-item .note {
  font-size: 18px;
  line-height: 24px;
}

/* Кнопки */
.button {
  font-family: inherit;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  height: 38px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* Заголовки разделов */
.catalog-nav h2,
.services-intro h2,
.services-slider .slide-item h3,
.company-about h2,
.company-contacts h2,
.catalog-section-name,
.catalog-section-about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-nav h2 {
  color: #32425c;
}

.services-slider .slide-item h3 {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
}

.catalog-section-name {
  color: #32425c;
}

/* Каталог - карточки товаров */
.catalog .catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.catalog .catalog-item:hover,
.catalog .catalog-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41,52,73,0.5);
}

.catalog .catalog-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41,52,73,0.5);
}

.catalog-item.name,
.catalog-item.price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}

.catalog-item.name {
  font-size: 18px;
  line-height: 20px;
}

.catalog-item.price {
  font-size: 17px;
  line-height: 18px;
  /* color: #ffffff; */
}

.catalog-item.price-regular {
  color: #a9a9a9;
  text-decoration: line-through;
}



.button.buy {
  width: 135px;
  height: 38px;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.button.buy:hover,
.button.buy:focus {
  background-color: #5fbb2d;
}

.button.buy:active {
  background-color: #518534;
  box-shadow: inset 0 0 0 #518534;
}

.button.bookmark {
  width: 135px;
  height: 38px;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button.bookmark:hover,
.button.bookmark:focus {
  background-color: #ffffff;
  border: 3px solid #32425c;

}

.button.bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #c1c6ce;
}

/* Раздел Сервисы, О компании, описание раздела каталога- текст */
.services-intro p,
.services-slider .slide-item p,
.company-about p,
.company-contacts p,
.catalog-section-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.shipping-partners {
  font-size: 18px;
  line-height: 20px;
}

/* Раздел Сервисы  */
.services {
  background-color: #f2f6f8;;
}


.services .slide-list,
.services .slider-controls {
  list-style: none;
}

.services-slider .slide-item button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ff5357;
  border: none;
}

.services-slider .slider-controls button {
  font-family: inherit;
  color: #ffffff;
  background-color: #32425c;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: none;
}

.services-slider .slider-controls button:hover,
.services-slider .slider-controls button:focus {
  background-color: #293449;
}

.services-slider .slider-controls button:active {
  color: #32425c;
  background-color: #ffffff;
}

/* Каталог - общее */
.catalog-nav {
  background-color: #f9f5f0;
}

.catalog-section-name,
.catalog-section-about {
  background-color: #f2f6f8;
}



/* Каталог - управление */
.breadcrumbs,
.control-type,
.options-sorting,
.filter .result-button,
.pagination {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs,
.options-sorting, .result-sorting {
  list-style: none;
}

/* Каталог - фильтр */
.filter .category-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.category-options {
  list-style: none;
}

.filter .category label {
  font-size: 15px;
  line-height: 20px;
}
.filter fieldset {
  border: none;
}

/* Каталог - сортировка */
.options-sorting a.option-current {
  color: #ee3643;
  border-bottom: none;
}

.options-sorting a.option-current:hover,
.options-sorting a.option-current:focus,
.options-sorting a.option-current:active {
  color: #ee3643;
  border-bottom: none;
}

.options-sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.options-sorting a:hover,
.options-sorting a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.options-sorting a:active {
  color: #ee3643;
  border-bottom: none;
}


/* Навигация по страницам */
.pagination-list {
  list-style: none;
}

.pagination-item a.page-current {
  color: #ffffff;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}

.pagination-item a.page-current:hover,
.pagination-item a.page-current:focus,
.pagination-item a.page-current:active {
  color: #ffffff;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}


.pagination-item a {
  color: inherit;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

/* Футер */
.footer-general-wrapper {
  width: 100%;
  background-color: #32425c;
}

.footer-general {
  width: 940px;
  margin: 0 auto;
}

.general-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 33px;
}

.general-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 50px;
}

.footer-nav-links {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-site {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 38px;
  padding-left: 0;
  list-style: none;
}

.nav-products {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footer-nav-links ul li:not(:last-child) {
  padding-right: 60px;
}



.footer-general .contacts {
  color: #f3f7f9;
}

.footer-general .contacts,
.footer-nav-links {
  font-size: 18px;
  line-height: 24px;

}

.footer-nav-links .nav-site a {
  color: rgb(241,245,247);
}

.footer-nav-links .nav-site a:hover,
.footer-nav-links .nav-site a:focus {
  text-decoration: underline;
}

.footer-nav-links .nav-site a:active {
  color: rgba(241,245,247,0.5);
  text-decoration: none;
}

.footer-nav-links .nav-products a {
  color: rgb(255,209,128);
}

.footer-nav-links .nav-products a:hover,
.footer-nav-links .nav-products a:focus {
  text-decoration: underline;
}

.footer-nav-links .nav-products a:active {
  color: rgba(255,209,128,0.5);
  text-decoration: none;
}


.footer-marketing-wrapper {
  width: 100%;
  background-color: #293449;
}

.footer-marketing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}


.social-links {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.social-links li:not(:last-child) {
  padding-right: 5px;
}

.social {
  color: #ffffff;
}

.developer {
  display: flex;
}

.developer p {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.developer a {
  color: #ffd180;
}

.footer-marketing .developer a:hover,
.footer-marketing .developer a:focus {
  text-decoration: underline;
}

.footer-marketing .developer a:active {
  color: #ee3643;
  text-decoration: none;
}

/* Модальные окна */

.modal-cart .shopping-continue {
  color: #000000;
  background-color: #ffffff;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
}

.modal-cart p {
  font-size: 30px;
  line-height: 30px;
}

.modal-cart .user-actions {
  list-style: none;
}

.modal-cart footer {
  background-color: #f1f1f1;
}
