

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}


/* Хедер */
.header-bar-wrapper {
  width: 100%;
  background-color: #293449;
}

.header-bar {
  display: flex;
  width: 940px;
  height: 42px;
  margin: 0 auto;
  text-align: center;
  /* outline: 3px dotted blue; */
}


.header-intro-wrapper {
  width: 100%;
  background-color: #f1f5f7;
  padding-top: 46px;
  padding-bottom: 60px;
  /* outline: 3px dotted blue; */
}

.header-intro {
  display: flex;
  align-items: baseline;
  width: 940px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 3px dotted green; */
}

.header-intro .description {
  flex-basis: 200px;
  margin-top: 0;
  padding-left: 50px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.header-intro .contacts {
  padding-left: 70px;
}

.header-intro .phone {
  position: relative;
  border: 3px solid #ffffff;
  color: #e9292a;
  font-size: 21px;
  line-height: 21px;
  padding-left: 74px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0;
  margin-bottom: 10px;
}

.header-intro .phone::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  position: absolute;
  vertical-align: middle;
  left: 15px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.header-intro .address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  margin-top: 0;
  margin-bottom: 0;
}


.header-nav-links {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449; */
  /* outline: 3px dotted green; */
}

.nav-main {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav-main li {
  flex-grow: 1;
}

/* Навигация по сайту - состояния ссылок */

.nav-main a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: rgb(255,255,255);
}

.nav-main a.current,
.nav-main a:link {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.nav-main a:link:hover,
.nav-main a:link:focus {
  background-color: #293449;
}

.nav-main a:link:active {
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}

/* Логотип */
.logo-header {
  font-size: 24px;
  line-height: 24px;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: -5px;
}

.logo-footer {
  font-size: 30px;
  line-height: 30px;
  padding-top: 21px;
  padding-bottom: 26px;
  padding-left: 42px;
  padding-right: 42px;
}

.logo {
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}


.logo.current,
.logo:link {
  background-color: #ee3643;
}

.logo:link:hover,
.logo:link:focus {
  background-color: #ca2c37;
}

.logo:link:active {
  background-color: #ba2732;
}


/* Форма поиска */
.header-bar .search {
  position: relative;
  padding-left: 0;
  margin-bottom: 0;
  /* outline: 1px solid magenta; */

}


.header-bar .search::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  /* vertical-align: middle; */
  top: 12px;
  left: 10px;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
}




.header-bar .search label  {
  font-size: 0;
  /* outline: 2px solid orange; */
}

.header-bar .search:hover,
.header-bar .search:focus {
  background-color: #212a3a;
}

.header-bar .search:active {
  background-color: #293449;
}

.header-bar input {
  font-family: inherit;
  /* color: #000000; */
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;

}

.header-bar input:hover,
.header-bar input:focus {
  background-color: transparent;
}

.header-bar input:active {
  background-color: #ffffff;
}



/* Закладки и Корзина */
.header-bar .bookmarks {
  padding-left: 44px;
  padding-right: 28px;
  margin-left: auto;
}

.header-bar .cart {
  padding-left: 49px;
  padding-right: 31px;
}

.header-bar .bookmarks,
.header-bar .cart {
  position: relative;
  color: #ffffff;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-bar .bookmarks:hover,
.header-bar .bookmarks:focus,
.header-bar .cart.empty:hover,
.header-bar .cart.empty:focus {
   background-color: #212a3a;
}

.header-bar .bookmarks:active,
.header-bar .cart.empty:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
}

.header-bar .cart.not-empty {
  background-color: #ee3643;
}

.header-bar .bookmarks::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 16px;
  vertical-align: middle;
  left: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;

  /* outline: 1px solid green; */
}

.header-bar .cart::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  left: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  /* outline: 1px solid green; */
}

/* Кнопка Оформить заказ */
.header-bar a.order-submit {
  color: #ffffff;
  background-color: #63a63e;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 22px;
}

.header-bar a.order-submit:hover,
.header-bar a.order-submit:focus {
  background-color: #5fbb2d;
}

.header-bar a.order-submit:active {
  background-color: #518534;
  color: rgba(255,255,255,0.51);
}


/* Навигация пользователя */
.nav-user {
  margin-left: auto;
}

.user-non-authorized,
.user-authorized {
  display: flex;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

/* Навигация неавторизованного пользователя */
.user-non-authorized li {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}

.user-non-authorized li:not(:last-child) {
  margin-right: 10px;
}

.user-non-authorized .user-login a {
  position: relative;
  padding-left: 47px;
  padding-right: 26px;
}

.user-non-authorized .user-login a::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 17px;
  vertical-align: middle;
  left: 14px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.user-signup a {
  padding-left: 24px;
  padding-right: 24px;
}

.user-non-authorized a {
  display: block;
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.user-non-authorized a:hover,
.user-non-authorized a:focus {
  color: #ee3643;
}

.user-non-authorized a:active {
  color: rgba(0,0,0,0.3);
}


/* Навигация авторизованного пользователя */
.authorized-main {
  margin-bottom: 10px;
}

.authorized-main li {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
  /* height: 45px; */
}

.user-profile a {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  padding-left: 46px;
  padding-right: 13px;
  color: #000000;
}

.user-profile a:hover,
.user-profile a:focus {
  color: #000000;
}

.user-profile a:active {
  color: rgba(0,0,0,0.3);
}

.user-profile a::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 18px;
  vertical-align: middle;
  left: 13px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  /* outline: 1px solid green; */
}

.user-logout a {
  position: relative;
  padding-left: 35px;
  font-size: 0;
  /* outline: 1px solid magenta; */
}

.user-logout a::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 17px;
  vertical-align: middle;
  left: 0;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  /* outline: 1px solid green; */

}



.authorized-secondary a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  border-bottom: 1px solid #32425c;
  margin-top: 0;
  margin-bottom: 0;
}


.authorized-secondary a:hover,
.authorized-secondary a:focus {
  color: #ee3643;
  border-bottom: 1px solid #ee3643;
}

.authorized-secondary a:active {
  color: rgba(50,66,92,0.3);
  border-bottom: 1px solid rgba(50,66,92,0.3);
}



/* Промо */
.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  /* outline: 1px solid green; */
}

.promo-items-wrapper {
  display: flex;
  flex-direction: column;
}

.promo-item {
  display: inline-block;
  width: 300px;
  height: 123px;
  box-sizing: border-box;
  color: #ffffff;
  padding-left: 22px;
  padding-top: 26px;
  /* padding-bottom: 32px; */
  /* outline: 1px solid blue; */
}

.promo-item .name {
  font-size: 24px;
  line-height: 30px;
  /* font-weight: bold; */
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 25px;
  padding-right: 10px;
}

.promo-item .note {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(229,229,229,0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.promo-item .note:hover,
.promo-item .note:focus {
  background-color: rgba(204,204,204,0.2);
}
.promo-item .note:active {
  background-color: rgba(178,178,178,0.3);;
}


.promo-item.material {
  background-color: rgb(255,191,71);
  margin-bottom: 20px;
}

.promo-item.instrument {
  background-color: #3bbce3;
  margin-bottom: 20px;
}

.promo-item.equipment {
  background-color: #dc91d8;
  margin-bottom: 20px;

}

.promo-item.discount {
  background-color: #8ed78f;
  margin-bottom: 20px;

}

.promo-item.free-delivery {
  background-color: #ffc047;
}


/* Промо - слайдер */
.promo-slider {
  position: relative;
  display: inline-block;
  /* outline: 1px solid magenta; */
}

.slide-list {
  display: inline-block;
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.promo h3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 27px;
  left: 24px;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.slide-item .name {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slide-item .note {
  font-size: 18px;
  line-height: 24px;
}


.promo-slider .arrow,
.promo-slider .arrow,
.promo-slider .indicators-container,
.promo-slider .button-catalog {
  position: absolute;
}

.arrow::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 40px;
  position: absolute;
  left: -10px;
  /* outline: 1px solid green; */
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
}

.arrow.dir-left {
  left: 20px;
  top: 45%;
}

.dir-right::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 40px;
  position: absolute;
  left: 70px;
  /* outline: 1px solid blue; */
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
}

.arrow.dir-right {
  right: 20px;
  top: 45%;
}


.indicators-container {
  left: 230px;
  bottom: 38px;
}

.button-catalog {
  left: 20px;
  bottom: 20px;
}


/* Кнопки */
.button {
  font-family: inherit;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 49px;
  padding-right: 45px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* Заголовки разделов */
.catalog-nav h2,
.services-intro h2,
.services-slider .slide-item h3,
.company-about h2,
.company-contacts h2,
.section-name,
.section-about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}


.services-slider .slide-item h3 {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
}

.catalog-section-name {
  color: #32425c;
}

/* Каталог */
.catalog-index {
  width: 940px;
  margin: 0 auto;
}

.catalog-nav-wrapper {
  padding: 25px;
  background-color: #f9f5f0;
}

.catalog-nav {
  display: flex;
  justify-content: space-between;
}

.catalog-nav h2 {
  color: #32425c;
}


.catalog .catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}

.catalog-item img {
  /* outline: 2px solid magenta; */
}


.catalog-item p {
  margin: 0;
}

.catalog-item .price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog .catalog-item:hover,
.catalog .catalog-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41,52,73,0.5);
}

.catalog .catalog-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41,52,73,0.5);
}

.catalog-item .name,
.catalog-item .price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}

.catalog-item .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item .price {
  font-size: 17px;
  line-height: 18px;
  /* color: #ffffff; */
}

.catalog-item .price-regular {
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog .action ul {
  padding: 0;
  list-style: none;
}

.catalog .action button {
  width: 135px;
  margin: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.button.buy {
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 #367315;
}

.button.buy:hover,
.button.buy:focus {
  background-color: #5fbb2d;
}

.button.buy:active {
  background-color: #518534;
  box-shadow: inset 0 0 0 #518534;
}

.button.bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button.bookmark:hover,
.button.bookmark:focus {
  background-color: #ffffff;
  border: 3px solid #32425c;

}

.button.bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #c1c6ce;
}

/* Каталог - производители */
.catalog-list.makers li {
  width: 208px;
  height: 123px;
  display: flex;

}

.catalog-list.makers a {
  margin:auto;
}


/* Раздел Сервисы, О компании, описание раздела каталога- текст */
.services-intro p,
.services-slider .slide-item p,
.company-about p,
.company-contacts p,
.section-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}



/* Раздел Сервисы  */
.services-wrapper {
  width: 100%;
  background-color: #f2f6f8;;
}

.services {
  width: 940px;
  margin: 0 auto;
  padding-top: 60px;
}

.services-intro {
  width: 410px;
  margin-bottom: 30px;
}

.services-slider {
  display: flex;
}


.services .slide-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.services .slide-item {
  padding-left: 80px;
  /* outline: 2px solid magenta; */
}



.slide-item p {
  margin: 0;
  padding-top: 20px;
}

.delivery {
  padding-right: 320px;
}

.delivery {
  background-image: url("../img/services-delivery.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.warranty {
  padding-right: 240px;
}

.warranty {
  background-image: url("../img/services-warranty.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.credit {
  padding-right: 250px;

}

.credit p {
  margin-bottom: 50px;
}

.credit {
  background-image: url("../img/services-credit.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}


.services .slide-item button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ff5357;
  border: none;
  cursor: pointer;
}

.services .slider-controls {
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
  list-style: none;
  background-image: url("../img/services-menu-shadow.png");
  background-repeat: no-repeat;
  /* background-position: right center; */
}

.services .slider-controls button {
  font-family: inherit;
  color: #ffffff;
  background-color: #32425c;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  box-shadow: inset 0 -1px 0 0 #33445a;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  cursor: pointer;
  width: 240px;
}

.services .slider-controls button:hover,
.services .slider-controls button:focus {
  background-color: #293449;
}

.services .slider-controls button:active,
.services .slider-controls button.current {
  color: #32425c;
  background-color: #ffffff;
}

/* Раздел О компании */
.company-about-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 80px;
}

.company-about,
.company-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company-about {
  width: 520px;
}

.company-about .button {
  align-self: flex-start;
}

.shipping-partners {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.shipping-partners li {
  padding-bottom: 15px;
}



/* Каталог - общее */
.breadcrumbs {
  display: flex;
  width: 940px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 25px;
  padding-left: 0;

}

.section-name {
  width: 940px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 34px;
  text-indent: 28px;
  color: #32425c;
  background-color: #f2f6f8;
}

.section-about-wrapper {
  width: 100%;
  background-color: #f2f6f8;
}

.section-about {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.section-about h2 {
  padding-top: 68px;
  padding-bottom: 30px;
}
.section-about p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 39px;
}

/* Каталог - сетка */
.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-left-wrapper {
  width: 220px;
}

.catalog-right-wrapper {
  width: 700px;
}

.control-sorting {
  display: flex;
  align-items: baseline;
  background-color: #f7f3ec;
}

.options-sorting,
.result-sorting {
  display: flex;
  padding-left: 0;
}


.pagination-list {
  display: flex;
  padding-left: 0;
}

/* Каталог - управление */
.breadcrumbs,
.control-type,
.options-sorting,
.filter .result-button,
.pagination {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;

}

.breadcrumbs {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs li {
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 16px;
  padding-right: 16px;
}

.breadcrumbs li:not(:first-child) {
  padding-left: 25px;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  position: absolute;
  vertical-align: middle;
  left: 5px;
  display: inline-block;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  /* outline: 1px solid blue; */

}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs .icon-home {
  display: inline-block;
  width: 15px;
  height: 12px;
  position: absolute;
  vertical-align: middle;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  font-size: 0;
  /* outline: 1px solid green; */

}

.control-type {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 13px;
  padding-bottom: 15px;
}


.options-sorting,
.result-sorting {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.options-sorting li,
.result-sorting li {
  /* padding-left: 25px;
  padding-right: 25px; */
}

/* Каталог - фильтр */
.filter {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  margin-bottom: 0;
}

.filter .result-button {
  cursor: pointer;
  width: 140px;
  height: 38px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
}

.filter fieldset legend,
.filter fieldset ul {
  padding: 0;
  margin: 0;
}

.filter .category-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.category-options {
  list-style: none;
}

.filter .category label {
  font-size: 15px;
  line-height: 20px;
}
.filter fieldset {
  border: none;
}

/* Каталог - сортировка */

.options-sorting a.option-current {
  color: #ee3643;
  border-bottom: none;
}

.options-sorting a.option-current:hover,
.options-sorting a.option-current:focus,
.options-sorting a.option-current:active {
  color: #ee3643;
  border-bottom: none;
}

.options-sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.options-sorting a:hover,
.options-sorting a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.options-sorting a:active {
  color: #ee3643;
  border-bottom: none;
}

.control-sorting .result-sorting .button-dir {
  display: inline-block;
  width: 11px;
  height: 10px;
  vertical-align: middle;
  background-repeat: no-repeat;
  font-size: 0;
}

.control-sorting .result-sorting .button-dir.ascending {
  background-image: url("../img/icon-up-dir-red.svg");
}

.control-sorting .result-sorting .button-dir.descending {
  background-image: url("../img/icon-down-dir.svg");
}


/* Навигация по страницам */
.pagination {
  margin-top: 52px;
  margin-bottom: 60px;
}

.pagination-list {
  list-style: none;
}

.pagination-list li:not(last-child) {
  margin-right: 10px;
}

.pagination-item a.page-current {
  color: #ffffff;
  border: 1px solid #ee3643;
  border-radius: 2px;
  background-color: #ee3643;
}

.pagination-item a.page-current:hover,
.pagination-item a.page-current:focus,
.pagination-item a.page-current:active {
  color: #ffffff;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}


.pagination-item a {
  color: inherit;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 15px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

/* Футер */
.footer-general-wrapper {
  width: 100%;
  background-color: #32425c;
}

.footer-general {
  width: 940px;
  margin: 0 auto;
}

.general-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 33px;
}

.general-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 50px;
}

.footer-nav-links {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-site {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 38px;
  padding-left: 0;
  list-style: none;
}

.nav-products {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footer-nav-links ul li:not(:last-child) {
  padding-right: 60px;
}



.footer-general .contacts {
  color: #f3f7f9;
}

.footer-general .contacts,
.footer-nav-links {
  font-size: 18px;
  line-height: 24px;

}

.footer-nav-links .nav-site a {
  color: rgb(241,245,247);
}

.footer-nav-links .nav-site a:hover,
.footer-nav-links .nav-site a:focus {
  text-decoration: underline;
}

.footer-nav-links .nav-site a:active {
  color: rgba(241,245,247,0.5);
  text-decoration: none;
}

.footer-nav-links .nav-products a {
  color: rgb(255,209,128);
}

.footer-nav-links .nav-products a:hover,
.footer-nav-links .nav-products a:focus {
  text-decoration: underline;
}

.footer-nav-links .nav-products a:active {
  color: rgba(255,209,128,0.5);
  text-decoration: none;
}


.footer-marketing-wrapper {
  width: 100%;
  background-color: #293449;
}

.footer-marketing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}


.social-links {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.social-links li:not(:last-child) {
  padding-right: 5px;
}

.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
  color: #ffffff;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.social:hover,
.social:focus {
  background-color: #ee3643;
}

.social:active {
  background-color: #ee3643;
}

.social-vkontakte {
  background-image: url(../img/icon-vk.svg);
}

.social-facebook {
  background-image: url(../img/icon-fb.svg);
}

.social-instagram {
  background-image: url(../img/icon-insta.svg);
}

.developer {
  display: flex;
}

.developer p {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.developer a {
  color: #ffd180;
}

.footer-marketing .developer a:hover,
.footer-marketing .developer a:focus {
  text-decoration: underline;
}

.footer-marketing .developer a:active {
  color: #ee3643;
  text-decoration: none;
}

/* Модальное окно - напишите нам */
.modal .close {
  cursor: pointer;
}

.modal .button-container::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/form-2.svg");
  background-repeat: no-repeat;


}


.modal-write-us {
  width: 620px;
  border-top: 7px solid #ff5358;
  /* outline: 2px dotted green; */
}

.modal-write-us .button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.modal-write-us .form-top-container {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 80px;
  /* outline: 2px dotted blue; */
}

.modal-write-us .contact-info {
  display: flex;
  padding-bottom: 20px;
}

.modal-write-us .user-name-container,
.modal-write-us .user-email-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal-write-us .user-name-container {
  margin-right: 20px;
}

.modal-write-us .message {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.modal-write-us label {
  padding-bottom: 13px;
}


.modal-write-us footer {
  display: flex;
  padding: 37px 80px;
  background-color: #f4f4f4;
  /* outline: 2px dotted blue; */
}

.modal-write-us footer .button {
  flex-grow: 1;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
}


/* Модальное окно - карта */
.modal-map-popup {
  position: relative;
  width: 940px;
}

.modal-map-popup .close {
  position: absolute;
  top: 0;
  right: 0;
}

/* Модальное окно - корзина */
.modal-cart {
  width: 620px;
  border-top: 7px solid #ff5358;
}

.modal-cart .button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.modal-cart .shopping-continue {
  color: #000000;
  background-color: #ffffff;
}



.modal-cart p {
  font-size: 30px;
  line-height: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 178px;
}


.modal-cart footer {
  padding: 37px 80px;
  background-color: #f1f1f1;
}

.modal-cart .user-actions {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
