

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #000000;

}

a {
  text-decoration: none;
}


/* Фоны разделов */
.header-bar,
.footer-marketing {
  background-color: #293449;
}

.header-container {
  background-color: #f1f5f7;

}

.header-nav-links,
.footer-general {
  background-color: #32425c;
}

.catalog-nav {
  background-color: #f9f5f0;
}

.services {
  background-color: #f2f6f8;;
}

.catalog-section-name,
.catalog-section-about {
  background-color: #f2f6f8;
}

/* Верхняя панель */
.header-bar {
  display: flex;
  justify-content: space-around;
}

/* Логотип */
.logo {
  color: #ffffff;
  background-color: #ee3643;

}

.logo-header {
  font-size: 24px;
  line-height: 24px;
}

.logo-footer {
  font-size: 30px;
  line-height: 30px;
}

a.logo:hover,
a.logo:focus {
  background-color: #ca2c37;
}

a.logo:active {
  background-color: #ba2732;
}


/* Форма поиска */
.header-bar .search:hover,
.header-bar .search:focus {
  background-color: #212a3a;
}

.header-bar .search:active {
  background-color: #293449;
}

.header-bar input {
  font-family: inherit;
  /* color: #000000; */
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;
  border: none;
}

.header-bar input:hover,
.header-bar input:focus {
  background-color: transparent;
}

.header-bar input:active {
  background-color: #ffffff;
}



/* Закладки и Корзина */
.header-bar .bookmarks,
.header-bar .cart {
  color: #ffffff;
  line-height: 18px;
}

.header-bar .bookmarks:hover,
.header-bar .bookmarks:focus,
.header-bar .cart.empty:hover,
.header-bar .cart.empty:focus {
   background-color: #212a3a;
}

.header-bar .bookmarks:active,
.header-bar .cart.empty:active {
  background-color: #161d29;
  color: rgba(255,255,255,0.6);
}

.header-bar .cart.not-empty {
  background-color: #ee3643;
}

/* Кнопка Оформить заказ */
.header-bar a.order-submit {
  color: #ffffff;
  background-color: #63a63e;
  line-height: 18px;
}

.header-bar a.order-submit:hover,
.header-bar a.order-submit:focus {
  background-color: #5fbb2d;
}

.header-bar a.order-submit:active {
  background-color: #518534;
  color: rgba(255,255,255,0.51);
}

/* Шапка - описание магазина и контакты */
.header-intro {
  display: ;
}

.header-intro .description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-intro .phone {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.header-intro .address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

/* Навигация пользователя */
.nav-user a {
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
}

.user-non-authorized,
.user-authorized-main,
.user-authorized-secondary {
  list-style: none;
}

/* Навигация неавторизованного пользователя */
.user-non-authorized a:hover,
.user-non-authorized a:focus {
  color: #ee3643;
}

.user-non-authorized a:active {
  color: rgba(0,0,0,0.3);
}



/* Навигация авторизованного пользователя */
.user-authorized-main a:active {
  color: rgba(0,0,0,0.3);
}

.user-authorized-secondary a {
  color: #32425c;
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
}

.user-authorized-secondary a:hover,
.user-authorized-secondary a:focus {
  color: #ee3643;
}

.user-authorized-secondary a:active {
  color: rgba(50,66,92,0.3);
}


/* Навигация по сайту */
.nav-main {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-main a {
  color: rgb(255,255,255);
}

.nav-main a:hover,
.nav-main a:focus {
  background-color: #293449;
}

.nav-main a:active {
  background-color: #1d2739;
  color: rgba(255,255,255,0.5);
}

/* Промо */
.promo-item {
  display: inline-block;
  width: 300px;
  height: 123px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.promo-item.material {
  background-color: #ffbf47;
}

.promo-item.instrument {
  background-color: #3bbce3;
}

.promo-item.equipment {
  background-color: #dc91d8;
}

.promo-item.discount {
  background-color: #8ed78f;
}

.promo-item.delivery {
  background-color: #ffc047;
}

.promo-item .note {
  color: #ffffff;
  background-color: #e5e5e5;
  font-size: 14px;
  line-height: 18px;
}

.promo-item .note:hover,
.promo-item .note:focus {
  background-color: #cccccc;
}
.promo-item .note:active {
  background-color: #b2b2b2;
}

/* Промо - слайдер */
.slide-list {
  list-style: none;
}

.slide-item .name,
.slide-item .note {
  /* color: #ffffff; */
}

.slide-item .name {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slide-item .note {
  font-size: 18px;
  line-height: 24px;
}

/* Кнопки */
.button {
  font-family: inherit;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* Заголовки разделов */


.catalog-nav h2,
.services-intro h2,
.services-slider .slide-item h3,
.company-about h2,
.company-contacts h2,
.catalog-section-name,
.catalog-section-about h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-nav h2 {
  color: #32425c;
}

.services-slider .slide-item h3 {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
}

.catalog-section-name {
  color: #32425c;
}

/* Каталог - карточки товаров */
.catalog .catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.catalog-item.name,
.catalog-item.price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}

.catalog-item.name {
  font-size: 18px;
  line-height: 20px;
}

.catalog-item.price {
  font-size: 17px;
  line-height: 18px;
  /* color: #ffffff; */
}

.catalog-item.price-regular {
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item.action .button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item.buy {
  color: #ffffff;
  background-color: #63a63e;
}

.catalog-item.buy:hover,
.catalog-item.buy:focus {
  background-color: #5fbb2d;
}

.catalog-item.buy:active {
  background-color: #518534;
}

.catalog-item.bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 2px solid #63a63e;
}

.catalog-item.bookmark:hover,
.catalog-item.bookmark:focus {
  background-color: #ffffff;
  border: 2px solid #32425c;

}

.catalog-item.bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border: 2px solid #c1c6ce;
}

/* Раздел Сервисы, О компании, описание раздела каталога- текст */
.services-intro p,
.services-slider .slide-item p,
.company-about p,
.company-contacts p,
.catalog-section-about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.shipping-partners {
  font-size: 18px;
  line-height: 20px;
}

/* Раздел Сервисы  */
.services .slide-list,
.services .slider-controls {
  list-style: none;
}

.services-slider .slide-item button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ff5357;
  border: none;
}

.services-slider .slider-controls button {
  font-family: inherit;
  color: #ffffff;
  background-color: #32425c;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  border: none;
}

.services-slider .slider-controls button:hover,
.services-slider .slider-controls button:focus {
  background-color: #293449;
}

.services-slider .slider-controls button:active {
  color: #32425c;
  background-color: #ffffff;
}

/* Каталог - управление */
.breadcrumbs,
.control-type,
.options-sorting,
.filter .result-button,
.pagination {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs,
.options-sorting, .result-sorting {
  list-style: none;
}

/* Каталог - фильтр */
.filter .category-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.category-options {
  list-style: none;
}

.filter .category label {
  font-size: 15px;
  line-height: 20px;
}

/* Каталог - сортировка */
.options-sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.options-sorting a:hover,
.options-sorting a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.options-sorting a:active {
  color: #ee3643;
  border-bottom: none;
}

.options-sorting a.option-current {
  color: #ee3643;
  border-bottom: none;
}

/* Навигация по страницам */
.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: inherit;
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item a.page-current {
  color: #ffffff;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}
/* Футер */
.footer-general .contacts {
  color: #f3f7f9;
}

.nav-site,
.nav-products,
.social-links {
  list-style: none;
}

.footer-general .contacts,
.footer-nav-links {
  font-size: 18px;
  line-height: 24px;

}

.footer-nav-links .nav-site a {
  color: rgb(241,245,247);
}

.footer-nav-links .nav-site a:hover,
.footer-nav-links .nav-site a:focus {
  text-decoration: underline;
}

.footer-nav-links .nav-site a:active {
  color: rgba(241,245,247,0.5);
  text-decoration: none;
}

.footer-nav-links .nav-products a {
  color: rgb(255,209,128);
}

.footer-nav-links .nav-products a:hover,
.footer-nav-links .nav-products a:focus {
  text-decoration: underline;
}

.footer-nav-links .nav-products a:active {
  color: rgba(255,209,128,0.5);
  text-decoration: none;
}

.footer-marketing {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.footer-marketing .social-links {
  text-align: center;
}
.footer-marketing .social {
  color: #ffffff;
}


.footer-marketing .developer a {
  color: #ffd180;
}

.footer-marketing .developer a:hover,
.footer-marketing .developer a:focus {
  text-decoration: underline;
}

.footer-marketing .developer a:active {
  color: #ee3643;
  text-decoration: none;
}

/* Модальные окна */

.modal-cart .shopping-continue {
  color: #000000;
  background-color: #ffffff;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
}

.modal-cart p {
  font-size: 30px;
  line-height: 30px;
}

.modal-cart .user-actions {
  list-style: none;
}

.modal-cart footer {
  background-color: #f1f1f1;
}
